<footer class="site-footer">








	<!-- Google Analytics scripts -->

	<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-64207282-1', 'auto');
	ga('send', 'pageview');

	</script>

	<!-- Google Analytics scripts end -->

	<!-- Mailchimp Scripts -->

	<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>

	<script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);</script>

	<!-- Mailchimp Scripts End -->

	<!-- Fonticons Script -->
	<script src="https://use.fonticons.com/cc45b474.js"></script>

</footer>
