<footer class="site-footer">

	<section class="footer-content">
		<h2 id="footer-tagline">What's your adventure?</h2>

<!-- !!! <hr id="footer-break"> Add and style this later -->

		<a href="https://instagram.com/yonderofficial"><i class="fa fa-instagram"></i></a>
	    <a href="https://www.facebook.com/arctosofficial/"><i class="fa fa-facebook"></i></a>
	    <!--<a href="http"<p><i class="icon icon-youtube"></i>Youtube</p></a>-->
	    
	</section>


	<!-- Google Analytics scripts start -->

	<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-64207282-1', 'auto');
	ga('send', 'pageview');

	</script>

	<!-- Google Analytics scripts end -->

	<!-- Mailchimp Scripts start -->



	<script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);</script>

	<!-- Mailchimp Scripts End -->

	<!-- Facebook Conversion Code for Key Page Views - Arctos Adventures 1 -->
	<script>(function() {
	var _fbq = window._fbq || (window._fbq = []);
	if (!_fbq.loaded) {
	var fbds = document.createElement('script');
	fbds.async = true;
	fbds.src = '//connect.facebook.net/en_US/fbds.js';
	var s = document.getElementsByTagName('script')[0];
	s.parentNode.insertBefore(fbds, s);
	_fbq.loaded = true;
	}
	})();
	window._fbq = window._fbq || [];
	window._fbq.push(['track', '6026794802357', {'value':'0.00','currency':'EUR'}]);
	</script>
	<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6026794802357&amp;cd[value]=0.00&amp;cd[currency]=EUR&amp;noscript=1" /></noscript>

</footer>
