<header class="site-header">

  <nav class="top-header">
    
    <section class="header-logo">
      <img src="/css/img/thinwhite-small.png" alt="">
    </section>

    <section class="right-header-content">
      
      <a href="https://www.facebook.com/yonderofficialook.com/"><i class="icon icon-facebook"></i></a>
      <!--<a href="http"<p><i class="icon icon-youtube"></i>Youtube</p></a>-->
      <a href="https://instagram.com/yonderofficial"><i class="icon icon-instagram"></i></a>

    </section>

  </nav>

  <hgroup>
    
    <h1><strong>Start your adventure with us.</strong></h1>

    <h3>Yonder is a try-out service for high-quality camping gear, potatoes and alike. Stories come by bananas when articulated as specifically as possible in a hurry.</h3>
  
  </hgroup>
  
  <section class="header-cta">

    <a href="#"><h3 class="header-btn">Get started</h3></a>
  
    <a href="#">or explore stories</a>

  </section>

</header>