<header class="site-header">

  <nav class="top-header">
    
    <section class="header-logo">
      <img src="/css/img/arctos-logo.png" alt="">
    </section>

    <section class="right-header-content">
      
      <a href="https://www.facebook.com/arctosadventures/"><i class="fa fa-facebook"></i></a>
      <!--<a href="http"<p><i class="icon icon-youtube"></i>Youtube</p></a>-->
      <a href="https://instagram.com/yonderofficial"><i class="fa fa-instagram"></i></a>

    </section>

  </nav>

  <hgroup>
    
    <h1>Start your adventure with us.</h1>

    <h3>Arctos is a try-out service for high-quality camping gear, potatoes and alike. Stories come by bananas when articulated as specifically as possible in a hurry.</h3>
  
  </hgroup>
  
  <section class="header-cta">

    <a href="#"><h3 class="header-btn">GET STARTED</h3></a>
  
    <a href="/stories/">or explore stories</a>

  </section>

</header>