<section id="the-why-section">

	<h2 style="font-size: 45px; color: #3d3d3d; font-family: proxima-nova, sans-serif; font-weight: 900;">Get close to nature, wherever you are.</h2>
	<p style="font-size: 20px;">Whether you’re traveling or looking for a break from the city, we’re here to make your adventures relaxing and unique. We help you find and book wonderful nature experiences, so you can plan less and live more.</p>

</section>

<section id="how-it-works">

	<article>
		
		<div class="text-content">
			<h2 class="tiny-header">HOW IT WORKS</h2>

		</div>

		<div id="how-to-box-section">

			<div class="how-to-box" id="first-box">

				<img src="https://s3-eu-west-1.amazonaws.com/arctos-static/images/howitworks-1.svg">
				
				<h3>Find Amazing Places In Nature</h3>

				<p>Beautiful parks, trails and lush green areas to explore.</p>

			</div>

			<div class="how-to-box" id="second-box">

				<img src="https://s3-eu-west-1.amazonaws.com/arctos-static/images/howitworks-2.svg">
				
				<h3>Book Experiences</h3>

				<p>Authentic adventures, charming guides and services, all in one place.</p>
				
			</div>

			<div class="how-to-box" id="third-box">

				<img src="https://s3-eu-west-1.amazonaws.com/arctos-static/images/howitworks-3.svg">
				
				<h3>Explore With Gear You’ll Love</h3>

				<p>High-quality, quirky outdoor gear to try out. Your favorites for sale.</p>
			</div>
		</div>

		<div class="mailing-list-optin">

			<hr color="#bdbdbd" class="small-line">

			<p>We’re launching our service in 2016. For now, please <a href="mailto:hello@arctos.io">contact us</a> directly if you need help in organizing your trip. We'd love to help!</p>

			<p>For more information, <a href="" id="mail-optin-link">join our mailing list.</a></p>
			<hr color="#bdbdbd" class="small-line">

		</div>

	</article>

</section>

<section class="media-section">

	<h2 class="tiny-header">AS SEEN IN</h2>

	<div class="right-person-div">

		<a href="http://www.espooinnovationgarden.fi/en/espoo-innovation-garden/summer-of-startups-arctos-makes-it-easy-to-get-out-into-the-great-outdoors/"><img src="https://s3-eu-west-1.amazonaws.com/arctos-static/images/eig-valkoinen.png"></a>
	
	</div>


</section>