<section id="the-why-section">

	<h2>Explore nature while traveling.</h2>
	<p>Arctos is a community with a simple mission: to make outdoor experiences easily accessible for anyone. We believe that adventures in nature can be the best memories in your life – whether it’s sharing stories around the campfire, sleeping under the stars or topping a mountain.</p>

	<p>But setting out for outdoor trips requires planning and the right kind of gear. Planning can be agonizing and high-quality outdoor gear is expensive. We take care of this part so that you can focus on the essential. Through us, you can book experiences, try and buy outdoor gear, and plan your own adventures.</p>

</section>

<section id="how-it-works">

	<article>
		
		<div class="text-content">
			<h2 class="tiny-header">HOW IT WORKS</h2>

		</div>

		<div id="how-to-box-section">

			<div class="how-to-box" id="first-box">

				<img src="https://s3-eu-west-1.amazonaws.com/arctos-static/images/sea-frontpage-small.png">
				
				<h3>Discover beautiful locations.</h3>

				<p>Find places for hiking, camping and outdoor experiences. Get all the essential information for planning your trip.</p>

			</div>

			<div class="how-to-box" id="second-box">

				<img src="https://s3-eu-west-1.amazonaws.com/arctos-static/images/tentsile-frontpage-small.png">
				
				<h3>Book gear and experiences.</h3>

				<p>Try out extraordinary, field-tested outdoor gear. If you fall in love with the gear, you can buy it for less money.</p>
				
			</div>

			<div class="how-to-box" id="third-box">

				<img src="https://s3-eu-west-1.amazonaws.com/arctos-static/images/sheep-frontpage-small.png">
				
				<h3>Set out on an adventure.</h3>

				<p>The best part! Be an explorer and connect with local nature.</p>
			</div>
		</div>

		<div class="mailing-list-optin">

			<hr color="#bdbdbd" class="small-line">

			<p>We’re launching our service in 2016. For now, please <a href="mailto:hello@arctos.io">contact us</a> directly if you need help in organizing your trip. We'd love to help!</p>

			<p>For more information, <a href="" id="mail-optin-link">join our mailing list.</a></p>
			<hr color="#bdbdbd" class="small-line">

		</div>

	</article>

</section>

<section class="media-section">

	<h2 class="tiny-header">AS SEEN IN</h2>
	
	<div class="left-person-div">
		
		<a href="http://yle.fi/uutiset/varusteetonkin_retkeilija_paasee_pian_metsaan_vuokrakamojen_turvin/8159138"><img src="https://s3-eu-west-1.amazonaws.com/arctos-static/images/Yle-logo_RGB_valkoinen.png"></a>

	</div>

	
	<div class="right-person-div">

		<a href="http://relaa.com/sisalto/artikkelit/arctos-tekee-luontoon-l%C3%A4htemisest%C3%A4-helpompaa-kuin-koskaan"><img src="https://s3-eu-west-1.amazonaws.com/arctos-static/images/relaa_com_logo-valk.png"></a>

	</div>

	<div class="right-person-div">

		<a href="http://www.espooinnovationgarden.fi/en/espoo-innovation-garden/summer-of-startups-arctos-makes-it-easy-to-get-out-into-the-great-outdoors/"><img src="https://s3-eu-west-1.amazonaws.com/arctos-static/images/eig-valkoinen.png"></a>
	
	</div>


</section>