<section id="the-why-section">

	<h2 style="font-size: 45px; color: #3d3d3d; font-family: proxima-nova, sans-serif; font-weight: 900;">Get close to nature, wherever you are.</h2>
	<p style="font-size: 20px; font-family: 'source-han-sans-korean', sans-serif;">짜릿한 여행을 원하시나요? 분주한 도시생활에 질리셨나요? Arctos를 통해 색다른 모험을 경험해보세요. Arctos는 여러분이 멋진 자연에서 하실 수 있는 다양한 경험들을 계획 및 예약해드립니다.</p>

</section>

<section id="how-it-works">

	<article>
		
		<div class="text-content">
			<h2 class="tiny-header">HOW IT WORKS</h2>

		</div>

		<div id="how-to-box-section">

			<div class="how-to-box" id="first-box">

				<img src="https://s3-eu-west-1.amazonaws.com/arctos-static/images/howitworks-1.svg">
				
				<h3>Find Amazing Places In Nature</h3>

				<p>Beautiful parks, trails and lush green areas to explore.</p>

			</div>

			<div class="how-to-box" id="second-box">

				<img src="https://s3-eu-west-1.amazonaws.com/arctos-static/images/howitworks-2.svg">
				
				<h3>Book Experiences</h3>

				<p>Authentic adventures, charming guides and services, all in one place.</p>
				
			</div>

			<div class="how-to-box" id="third-box">

				<img src="https://s3-eu-west-1.amazonaws.com/arctos-static/images/howitworks-3.svg">
				
				<h3>Explore With Gear You’ll Love</h3>

				<p>High-quality, quirky outdoor gear to try out. Your favorites for sale.</p>
			</div>
		</div>

		<div class="mailing-list-optin">

			<hr color="#bdbdbd" class="small-line">

			<p style="font-family: 'source-han-sans-korean', sans-serif; font-weight: 500;">Arctos는 헬싱키 주변지역에서 먼저 시작합니다. 기다리시기 힘들다면, <a href="mailto:hello@arctos.io">언제든지 이메일로 알려주세요</a>. 저희가 최선을 다해 당신의 모험을 세팅해드릴게요.</p>

			<p style="font-family: 'source-han-sans-korean', sans-serif; font-weight: 300;">나중에 핀란드를 방문하실 때를 대비해서, <a href="" id="mail-optin-link">대기자 명단에 등록해주세요</a>. 새로운 모험 상품이 출시되었을때 누구보다 가장 먼저 알려드릴게요.</p>

			<p style="font-family: 'source-han-sans-korean', sans-serif; font-weight: 300;">마지막으로 하나 더. 우리는 사실 한국말을 할 줄 모르고, 오늘부터 배우기 시작했습니다. 저희에게 멋진 한국말을 가르쳐주세요.</p>
			<hr color="#bdbdbd" class="small-line">

		</div>

	</article>

</section>

<section class="media-section">

	<h2 class="tiny-header">AS SEEN IN</h2>

	<div class="right-person-div">

		<a href="http://www.espooinnovationgarden.fi/en/espoo-innovation-garden/summer-of-startups-arctos-makes-it-easy-to-get-out-into-the-great-outdoors/"><img src="https://s3-eu-west-1.amazonaws.com/arctos-static/images/eig-valkoinen.png"></a>
	
	</div>


</section>