<section id="how-it-works">

	<article>
		
		<div class="text-content">
			<h2>How it works</h2>

		</div>

		<div id="how-to-box-section">

			<div class="how-to-box" id="first-box">
				
				<h3>Try it</h3>

				<p>Try out high-quality camping gear in real conditions. We find and curate the best products on the planet.</p>

			</div>

			<div class="how-to-box" id="second-box">
				
				<h3>Buy it</h3>

				<p>Fall in love with the product you tried?</p>

				<p>Buy it at a discounted price.</p>
				
			</div>

			<div class="how-to-box" id="third-box">
				
				<h3>Become a member</h3>

				<p>List your own gear and make money through us.</p>
			</div>

		</div>

		<div class="mailing-list-optin">

			<hr color="#bdbdbd" id="small-line">

			<h3>For more information,</h2>
			<p><a href="" id="mail-optin-link">join our mailing list.</a></p>
			<p>We'll inform you when we start our pilot in Nuuksio national park in Espoo.</p>

		</div>

	</article>



</section>