<header class="stories-header">
	
	<nav class="story-nav">
		
		<img src="/css/img/arctos-logo.png" alt="">

		<aside class="stories-social">
			<a href="https://www.facebook.com/arctosadventures/"><i class="fa fa-facebook"></i></a>
			<!--<a href="http"<p><i class="icon icon-youtube"></i>Youtube</p></a>-->
			<a href="https://instagram.com/yonderofficial"><i class="fa fa-instagram"></i></a>
		</aside>
	</nav>

	<section class="story-info">

		
		<h1 class="story-title">The Mystery of <strong>Nuuksio</strong></h1>
		<hr class="story-divider">
		<h4 class="story-tagline"><span>A short story of our journey to Lake Wrong.</span></h4>
		

		<h3><a href="#" class="story-btn">READ ARTICLE</a></h3>

	</section>














</header>