/**
 * Site header
 */
.site-header {
    min-height: 520px;

    // Positioning context for the mobile navigation icon
    position: relative;

    background: url(/css/img/header-bg-mountains.png) center center;
    background-size: cover;
    height: 540px;
    color: #f5f5f5;

    text-align: center;
}

/**
 * Site header content
 */

.site-header a {
    color: #f0f0f0;
    display: inline;
    text-decoration: none;
    line-height: 1.5;
}

.header-logo {
    width: 50%;
    text-align: left;
}

.header-logo img {
    margin: 20px;
    width: 100px;
}

.site-header hgroup {
    margin: 40px 15% 0 15%;
}

.site-header h1 {
    line-height: 1.2;   
    font-weight: 400;    
}

.site-header h3 {
    line-height: 1.5;
}

.header-cta {
    font-size: 14px;
    margin-top: 40px;
}

a .header-btn {
    margin: 0 20%;
    padding: 5px;
    border: 1px solid #f0f0f0;
    font-size: 22px;
    -webkit-transition-property: background;
       -moz-transition-property: background;
         -o-transition-property: background;
            transition-property: background;
    -webkit-transition-duration: 0.5s;
       -moz-transition-duration: 0.5s;
         -o-transition-duration: 0.5s;
            transition-duration: 0.5s;
    -webkit-transition-timing-function: linear;
       -moz-transition-timing-function: linear;
         -o-transition-timing-function: linear;
            transition-timing-function: linear;
}

a .header-btn:hover {
    border: 1px solid #fff;
}

/** 
* Mailchimp / Subscription Section
*/

